# Set these parameters using space ' ' separator: 
# 1 - QueueName on old mq server. Substitute with dot '.' if equal to QueueName on new mq server
# 2 - Use '>' or '<' character to set transfer direction: OLD>NEW or NEW<OLD
# 3 - QueueName on new mq server. Substitute with dot '.' if equal to QueueName on old mq server
IN.Q1 > .
IN.Q2 < .
IN.Q3 > IN.Q3.RENAMED
. < IN.Q4
